html {
	max-width: 100%;
	max-height: auto;
}

@media (min-width: 576px) {
  	.container {
    	max-width: 540px;
  	}
	
	body {
		padding-top: -54px;
		position: fixed;
		background-image: url("../img/fondo.jpg");
		background-size: 240%;
		background-position: top;
		background-repeat: no-repeat;
	}

	#mundial {
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:8vw;
		color: white;
		font-weight: bold;
	}

	#amiun {
		color: red;
	}

	#plan {
		position: absolute;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:4vw;
		color: white;    
		top: 358%;
	    left: 11%;
	}

  	#toyota {
	    width: 92%;
	    margin-right: -3%;
	}

	#tele {
	    position: absolute;
	    width: 85%;
	    top: 290px;
	    left: 17%;
	}

	#auto {
		width: 113%;
	    top: 704px;
	    left: -4%;
	}	
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  body {
  	position: fixed;
  	background-position: top;
	background-repeat: no-repeat;
	background-image: url("../img/fondo.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
	}
	
	#bord {
		margin-left: 25%;
	}

	#mundial {
		text-align: center;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:4vw;
		color: white;
		font-weight: bold;
	}

	#plan {
		position: absolute;
		max-width: 25%;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:2vw;
		color: white;
	    top: 160%;
	    left: -10%;
	}

	#amiun {
		color: red;
	}

	#toyota {
		min-width: 50%;
	    margin-top: 15px;
	    margin-left: 46%;
	    width: 50%;
	}

	#tele {
		min-width: 63%;
	    position: absolute;
	    top: 130px;
	    width: 63%;
	    left: 21%;
	}

	#auto {
		min-width: 130%;
	    width: 130%;
	    top: 320%;
	    left: -18%;
	}
}