html {
	max-width: 100%;
	max-height: auto;
}

body {
	background-image: url("../img/fondo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	font-family:"Plane Crash", ToyotaDisplay, Arial;
	font-size:4vw;
	color: white;
	font-weight: bold;
}

#toyota {
	margin-top: 60px;
	width: 35%;
}

#tele {
	position: absolute;
	width: 60%;
	left: 23%;
}

#auto {
	width: 135%;
	top: 270%;
	left: -20%;
}

/*	<style type="text/css">

    @font-face {
        font-family: "Plane Crash";
        src: url("font/Plane Crash.ttf") format("truetype");
    }
    @font-face {
        font-family: "ToyotaDisplay";
        src: url("font/ToyotaDisplay.ttf") format("opentype");
    }
    @font-face{
        font-family: "ToyotaDisplay_He";
        src: url("font/ToyotaDisplay_He.ttf");
    }
 
	</style>*/