/*html {
	max-width: 100%;
	max-height: auto;
}*/

	/* CONFETTI */
  	#confetti{
	    position: absolute;
	    width: 100%;
	    height: 100%;
  	}
	/* ENDCONFETTI */

@media (min-width: 250px) {
  	.container {
    	max-width: 220px;
  	}
	
	body {
	height:100%;
	width: 100%;
	min-height:35rem;
	position:relative;
	font-size: 100%;
		background-image: url("../img/fondo.jpg");
		background-size: 325%;
		background-position: top;
		background-repeat: no-repeat;
	}
	
	#bord {
		padding: -15%;
	}

	#mundial {
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:8vw;
		color: white;
		font-weight: bold;
	}

	#amiun {
		color: red;
	}

	#plan {
	    position: absolute;
	    border: 5px dotted #045BC7;
	    background-color: #247AD3;
	    border-radius: 75%;
	    font-family: "Plane Crash", ToyotaDisplay, Arial;
	    font-size: 6vw;
	    color: white;
	    top: 262%;
	    left: 6%;
	}

  	#toyota {
	    width: 200%;
	    margin-left: -43%;
	}

	#tele {
	    position: absolute;
	    width: 170%;
	    left: -27%;
	    top: 110%;
	}

	#auto {
		width: 206%;
	    top: 208%;
	    left: -53%;
	}	
	.overlay{
		position:fixed;
		height:100%;
		width:100%;
		z-index:-1
	}


}


@media (min-width: 576px) {
  	.container {
    	max-width: 540px;
  	}
	
	body {
	height:100%;
	width: 100%;
	min-height:35rem;
	position:relative;
	font-size: 100%;
		background-image: url("../img/fondo.jpg");
		background-size: 240%;
		background-position: top;
		background-repeat: no-repeat;
	}

	#mundial {
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:8vw;
		color: white;
		font-weight: bold;
	}

	#amiun {
		color: red;
	}

	#plan {
		position: absolute;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:4vw;
		color: white;    
	    top: 338%;
	    left: 6%;
	}

  	#toyota {
	    width: 92%;
	    margin-right: -45%;
	}

	#tele {
	    position: absolute;
	    width: 90%;
	    left: 10%;
	}

	#auto {
		width: 113%;
	    top: 250%;
	    left: -6%;
	}	
	.overlay{
	position:fixed;
	height:100%;
	width:100%;
	z-index:-1
	}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  body {	
  	height:100%;
	width: 100%;
	min-height:35rem;
	position:relative;
	font-size: 100%;
  	background-position: top;
	background-repeat: no-repeat;
	background-image: url("../img/fondo.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
	}
	
	#bord {
		/*margin-left: 25%;*/
	}

	#mundial {
		text-align: center;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:3vw;
		color: white;
		font-weight: bold;
	}

	#plan {
		position: absolute;
		max-width: 25%;
		font-family:"Plane Crash", ToyotaDisplay, Arial;
		font-size:2vw;
		color: white;
	    top: 160%;
	    left: -10%;
	}

	#amiun {
		color: red;
	}

	#toyota {
		width: 60%;
	    margin-top: 8%;
	    margin-left: -43%;
	}

	#tele {
		min-width: 63%;
	    position: absolute;
	    top: 130px;
	    width: 63%;
	    left: 21%;
	}

	#auto {
		min-width: 130%;
	    width: 130%;
	    top: 320%;
	    left: -18%;
	}

	.overlay{
	position:fixed;
	height:100%;
	width:100%;
	z-index:-1
	}
}



/*-- MEDIDAS --*/


@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/*-- ENDMEDIDAS --*/
